<style>
.ui.cards.matches {
  padding: 10px 20px;
}

.ui.cards .card.bet {
  background: rgba(4, 195, 210, 0.1);
}
</style>

{{#if error}}
<div style="padding: 20px;">
  <span class="ui red message">{{error}}</span>
</div>
{{/if}}

<div class="ui cards matches">
  {{#each matches}}
    <div class="card {{#if selected_team_id}} bet {{/if}}">
      <div class="content">
        <div class="header">
          {{this.type}}
        </div>
        <div class="meta">
          {{this.score}} баллов
        </div>
        <div class="description">
          {{this.timestamp}}
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <a href="/bet/{{this.id}}/{{this.team_a}}" class="ui basic green {{#if this.availableforbet}} {{else}} disabled {{/if}} button">{{#if this.selected_team_a}} <i class="icon gavel"></i> {{/if}} {{this.team_a_name}}</a>
          <a href="/bet/{{this.id}}/{{this.team_b}}" class="ui basic red {{#if this.availableforbet}} {{else}} disabled {{/if}} button">{{#if this.selected_team_b}} <i class="icon gavel"></i> {{/if}} {{this.team_b_name}}</a>
        </div>
      </div>
    </div>
  {{/each}}
  {{!-- { id: 10,
    timestamp: '2020-01-10T21:00:00.000Z',
    type: 'CS:GO',
    created_at: '2020-01-09T15:00:00.000Z',
    score: 10,
    team_a: 1,
    team_b: 2,
    team_a_name: 'Astralis',
    team_b_name: 'G2',
    selected_team_id: null,
    availableforbet: 0 } --}}
</div>